/* variable declarations */
:root {
    --myapp-color-background: white;
    --myapp-header-height: 60px;
    --myapp-footer-height: 50px;
    --myapp-footer-borderline: 2px;
    --myapp-background: rgb(225,225,225);
    --myapp-imagebutton-size: 40px;
    --myapp-imagebutton-imgsize: 30px;
    --myapp-default-space: 10px;
    --myapp-default-spaceInLi: 5px;
    --myapp-li-height: 70px;
    --myapp-li-bordercolor: rgb(120,120,120);
    --myapp-li-imgsize: 35px;
    --myapp-li-buttonsize: 20px;

}

html, body {
    background-color: var(--myapp-color-background);
    margin: 0;
    font-family: "Avenir Medium", sans-serif;
    color: rgb(0,0,0);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
* Baser Structure
*/
header{
    height: var(--myapp-header-height);
    background-color: var(--myapp-background);
    border-bottom:  solid var(--myapp-footer-borderline) var(--myapp-li-bordercolor);
    /*box-shadow:*/
}
footer {
    height: var(--myapp-footer-height);
    background-color: var(--myapp-background);
    border-top: var(--myapp-footer-borderline) solid rgb(255,128,0);
}

main{
    /* 100vh  - hoehe header -hoehe footer*/
    height: calc(100vh - (var(--myapp-header-height) + var(--myapp-footer-height) + (var(--myapp-footer-borderline) * 2)));
    background-color: var(--myapp-background);
    overflow-y: scroll;
}


header h1 {
    margin: 0;
    font-weight: normal;
    line-height: calc(var(--myapp-header-height) - 15px);
    font-size: 20pt;
    text-transform: capitalize;
    display: inline-block;
}


/*buttons*/
.myapp-align-left{
    float: left;
}
.myapp-align-right{
    float: right;
}

.myapp-imgbutton{
    background-color: transparent;
    /*font-size: 0;*/
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--myapp-imagebutton-imgsize) var(--myapp-imagebutton-imgsize);
    height: var(--myapp-imagebutton-size);
    width: var(--myapp-imagebutton-size);
    filter: invert(40%);
}
.myapp-imgbuttonPlay{
    background-color: transparent;
    /*font-size: 0;*/
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    height: var(--myapp-default-space);
    aspect-ratio: 1/1;
    filter: invert(40%);
}
header .myapp-imgbutton{
     margin-top: calc((var(--myapp-header-height)- 15px - var(--myapp-imagebutton-size)) / 2);
 }
footer .myapp-imgbutton{
    margin-top: calc((var(--myapp-footer-height) - var(--myapp-imagebutton-size)) / 2);
}

.myapp-img-menu{
    background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");
}
.myapp-img-remove{
    background-image: url("./img/png/delete_FILL0_wght400_GRAD0_opsz24.png");
}
.myapp-img-grid{
    background-image: url("./img/png/grid_view_FILL0_wght400_GRAD0_opsz24.png");
}
.myapp-img-add{
    background-image: url("./img/png/add_FILL0_wght400_GRAD0_opsz24.png");
}
.myapp-img-morevert{
    background-image: url("./img/png/more_vert_FILL0_wght400_GRAD0_opsz24.png");
}
.myapp-img-logout{
    background-image: url("./img/png/logout_FILL0_wght400_GRAD0_opsz24.png");
}
.myapp-playArrow{
    background-image: url("./img/png/play_arrow_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-refresh{
    background-image: url("./img/png/sync_FILL0_wght400_GRAD0_opsz24.png");
}

/*Listenansicht*/
.mainList {
    list-style: none;
    padding: 0;
    margin: 0;

}

.mainListLi {
    height: var(--myapp-li-height);
    border-bottom: 2px solid var(--myapp-li-bordercolor);
    /*padding: 10px 10px 20px;*/
    display: flex;
    /*gap: calc(());*/
    justify-content: space-between;
}

.flexContainer{
    display: flex;
    gap: 2px;
    padding-bottom: calc(var(--myapp-default-spaceInLi) + (var(--myapp-li-buttonsize) / 2) );/* play pfeil zeigt auf den obersten punkt im Icon rechts*/
    padding-top: var(--myapp-default-spaceInLi);
    padding-left: var(--myapp-default-spaceInLi);



}
.songinfo{
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
    justify-content: space-between;

}
.songDate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 5px 5px 0;

}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--myapp-li-height) - (var(--myapp-default-spaceInLi) + (var(--myapp-li-buttonsize) / 2)) - var(--myapp-default-spaceInLi));
}
.moreFlex{
    display: flex;
    align-items: center;
    gap: 5px;

}
img {
    width: 100%;
    aspect-ratio: 1/1;
    /*margin-top: calc((70px - 35px) / 2);*/
    object-fit: cover;
    display: block;
}
 h2 {
    font-weight: normal;
    font-size: 10pt; /* sollen wir Textgröße var einführen?*/
    margin: 0;
}
 a{
     font-size: 8pt;
     color: slategray;
 }
 p{
     font-size: 10pt;
     color: slategray;
 }
 .grauerBalken{
     height: 20px;
     background-color: gray;
 }

li .myapp-imgbutton{
    /*margin-top: calc((var(--myapp-li-height) - var(--myapp-imagebutton-size)) / 2);*/
    height: var(--myapp-li-buttonsize);
}

/*tiles*/
.myapp-tiles li *{
    display: none;
}

.myapp-tiles li {
    margin-left: var(--myapp-default-space);
    margin-top: var(--myapp-default-space);
    display: inline-block;
    border: none;
    float: left;
    --myapp-tiles-columns: 4;
    --myapp-tiles-size: calc((100vw - ((var(--myapp-tiles-columns) + 1) * var(--myapp-default-space))) / var(--myapp-tiles-columns));
    width: var(--myapp-tiles-size);
    height: var(--myapp-tiles-size);
    padding: 0;
}
/*Please remove one once they are aligned Li Elements*/
/*.myapp-tiles li img {*/
/*    margin: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    display: block;*/
/*}*/

.myapp-tiles li div img {
    margin: 0;
    height: 100%;
    width: 100%;
    display: block;
}

@media (max-width: 400px) {
    .myapp-tiles li{
        --myapp-tiles-columns: 3;
    }
}
@media (min-width: 400px) {
    .myapp-tiles li {
        --myapp-tiles-columns: 5;
    }
}
@media (min-width: 500px) {
    .myapp-tiles li {
        --myapp-tiles-columns: 7;
    }
}
@media (min-width: 600px) {
    .myapp-tiles li {
        --myapp-tiles-columns: 10;
    }
}